---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Submitted</h2><hr />
{% for post in site.publications reversed %}
  {% if post.venue contains "submitted" or post.venue contains "Submitted" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>In Preparation</h2><hr />
{% for post in site.publications reversed %}
  {% if post.venue contains "preparation" or post.venue contains "Preparation" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

